<p id="notice"><%= notice %></p>

<h1>Events</h1>

<table>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.denominacao %></td>
        <td><%= event.realizacao %></td>
        <td><% %> %></td>
      </tr>
    <% end %>
  </tbody>
</table>



